@model CryptoTrader.Web.ViewModels.LoginViewModel

<div class="row min-vh-100 bg-100">
    <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder" style="background-image:url('/public/assets/img/generic/14.jpg');background-position: 50% 20%;">
        </div>
        <!--/.bg-holder-->

    </div>
    <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
        <div class="row justify-content-center g-0">
            <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                    <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light" asp-route="Index">crypto trader</a></div>
                    <div class="card-body p-4">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h3>Giriş</h3>
                            </div>
                            <div class="col-auto fs--1 text-600"><span class="mb-0 fw-semi-bold">Üye değil misin?</span> <span><a asp-action="SignUp">Hesap oluştur</a></span></div>
                        </div>
                        <form asp-action="LogIn" method="post" class="row g-3 needs-validation" novalidate="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label class="form-label" for="split-login-email">Email adresi</label>
                                <input class="form-control" id="split-login-email" type="email" asp-for="Email" required />
                                <div class="invalid-feedback">Email adresinizi giriniz</div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="split-login-password">Şifre</label>
                                    <a class="fs--1" asp-action="ForgotPassword">Şifreni mi unuttun?</a>
                                </div>
                                <input class="form-control" id="split-login-password" type="password" asp-for="PassWord" required />
                                <div class="invalid-feedback">Şifrenizi adresinizi giriniz</div>
                            </div>
                            <div class="form-check mb-0">
                                <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
                                <label class="form-check-label" for="split-checkbox">Beni hatırla</label>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Oturun aç</button>
                            </div>
                        </form>
                        <div class="position-relative mt-4">
                            <hr class="bg-300" />
                            <div class="divider-content-center">veya aşağıdaki seçenekler ile giriş yapabilirsiniz</div>
                        </div>
                        <div class="row g-2 mt-2">
                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
