@model CryptoTrader.Web.ViewModels.UserViewModel

<div class="row min-vh-100 bg-100">
    <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder" style="background-image: url('/public/assets/img/generic/19.jpg');">
        </div>
        <!--/.bg-holder-->

    </div>
    <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
        <div class="row justify-content-center g-0">
            <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                    <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light" asp-action="Index">crypto trader</a></div>
                    <div class="card-body p-4">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h3>Kayıt</h3>
                            </div>
                            <div class="col-auto fs--1 text-600"><span class="mb-0 fw-semi-bold">Üye misin?</span> <span><a asp-action="Index">Giriş</a></span></div>
                        </div>
                        <form asp-action="SignUp" method="post" class="needs-validation" novalidate="">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @if (TempData["RegisterSucceeded"] != null)
                            {
                                <div class="alert alert-success clearfix">
                                    Kullanıcı başarıyla yaratılmıştır. Giriş yapabilirsiniz.
                                </div>
                            }
                            <div class="mb-3">
                                <label class="form-label" for="UserName">Kullanıcı Adı</label>
                                <input class="form-control" type="text" asp-for="UserName" required />
                                <div class="invalid-feedback">Kullanıcı adınızı giriniz</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email adresi</label>
                                <input class="form-control" type="email" asp-for="Email" required />
                                <div class="invalid-feedback">Email adresinizi giriniz</div>
                            </div>
                            <div class="row gx-2">
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label" for="password">Şifre</label>
                                    <input class="form-control" type="password" asp-for="PassWord" required />
                                    <div class="invalid-feedback">Şifrenizi giriniz</div>
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label" for="ConfirmPassWord">Şifre Tekrar</label>
                                    <input class="form-control" type="password" asp-for="ConfirmPassWord" required />
                                    <div class="invalid-feedback">Şifre tekrarını giriniz</div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="CoverRegisterCheckbox" required />
                                <label class="form-label" for="CoverRegisterCheckbox">
                                    <a href="#!">Şartları ve gizlilik politikasını</a> kabul ediyorum
                                </label>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Kayıt ol</button>
                            </div>
                        </form>
                        <div class="position-relative mt-4">
                            <hr class="bg-300" />
                            <div class="divider-content-center">veya aşağıdaki seçenekler ile kayıt olabilirsiniz</div>
                        </div>
                        <div class="row g-2 mt-2">
                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>