@*@model CryptoTrader.Web.ViewModels.UserViewModel

    @{
        ViewData["Title"] = "SignUp";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h4>Create User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SignUp" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassWord" class="control-label"></label>
                    <input asp-for="PassWord" class="form-control" />
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


<div class="row min-vh-100 bg-100">
    <div class="col-6 d-none d-lg-block position-relative">
        <div class="bg-holder" style="background-image: url('/public/assets/img/generic/19.jpg');">
        </div>
        <!--/.bg-holder-->

    </div>
    <div class="col-sm-10 col-md-6 px-sm-0 align-self-center mx-auto py-5">
        <div class="row justify-content-center g-0">
            <div class="col-lg-9 col-xl-8 col-xxl-6">
                <div class="card">
                    <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light" href="../../../index.html">crypto trader</a></div>
                    <div class="card-body p-4">
                        <div class="row flex-between-center">
                            <div class="col-auto">
                                <h3>Kayıt</h3>
                            </div>
                            <div class="col-auto fs--1 text-600"><span class="mb-0 fw-semi-bold">Üye misin?</span> <span><a href="../../../pages/authentication/split/login.html">Giriş</a></span></div>
                        </div>
                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="split-name">Adınız</label>
                                <input class="form-control" type="text" id="split-name" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="split-email">Email adresi</label>
                                <input class="form-control" type="email" id="split-email" />
                            </div>
                            <div class="row gx-2">
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label" for="split-password">Şifre</label>
                                    <input class="form-control" type="password" id="split-password" />
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label class="form-label" for="split-confirm-password">Şifre Yenile</label>
                                    <input class="form-control" type="password" id="split-confirm-password" />
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cover-register-checkbox" />
                                <label class="form-label" for="cover-register-checkbox"><a href="#!">Şartları ve gizlilik politikasını</a> kabul ediyorum</label>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Kayıt ol</button>
                            </div>
                        </form>
                        <div class="position-relative mt-4">
                            <hr class="bg-300" />
                            <div class="divider-content-center">veya aşağıdaki seçenekler ile kayıt olabilirsiniz</div>
                        </div>
                        <div class="row g-2 mt-2">
                            <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
                            <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>