include ../home/dashboard-alt/CardStatistics
include ../home/dashboard-alt/CardPaymentChart
include ../home/dashboard-alt/CardActiveUserChart

mixin Stats
  +WidgetSectionTitle({
    icon: 'fas fa-percentage',
    title: 'Number Stats & Charts',
    subtitle: 'You can easily show your stats content by using these cards.'
  }).mb-4.mt-3

  +CardStatistics
  .row.g-0
    .col-md-6.col-lg-4.col-xl-6.col-xxl-4.pe-md-2.mb-3 
      +CardWeeklySales
    .col-md-6.col-lg-4.col-xl-6.col-xxl-4.ps-md-2.pe-lg-2.pe-xl-0.pe-xxl-2.mb-3
      +CardTotalOrder
    .col-md-12.col-lg-4.col-xl-6.col-xxl-4.ps-lg-2.ps-xl-0.ps-xxl-2.pe-xl-2.pe-xxl-0.mb-3
      +CardMarketShare
    .row.g-0
      .col-lg-4.pe-lg-2.mb-3
        +CardBandWidthSaved.h-100
      .col-lg-8.ps-lg-2.mb-3
        +CardPaymentChart.mb-3
        +CardStorage
    .row.g-0
      .col-lg-6.col-xxl-4.pe-lg-2.mb-3.mb-xxl-0
        +CardActiveUserChart
      .col-xxl-8.ps-xxl-2
        +CardTopProducts.mb-3
        +CardTotalSales  
